* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #121212;
  color: white;
}

.paragraph-container {
  display: flex;
  flex-direction: row;
}

.content {
  max-width: 1000px;
}

.text {
  width: 100%;
}

.images {
  max-height: 2000px;
}

.intro, .timeline {
  display: flex;
  flex-direction: row;
}

div {
  margin: 5px;
  padding: 5px;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4 {
  margin-top: 10px;
}

/* Font sizes */
h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

p, li {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}