* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212; /* Dark mode */
  color: white;
}
a {
  color: skyblue;
}
a:hover {
  color: #408EC6;
}
a:visited {
  color: #7A2048;
}
a:active {
  color: #2F3C7E;
}

/* Flex */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3vw;
}
/* Max widths for content */
@media screen and (max-width: 800px) {
  .content {
    max-width: 700px;
  }
}
@media screen and (min-width: 800px) {
  .content {
    max-width: 87.5%;
  }
}
@media screen and (min-width: 1140px) {
  .content {
    max-width: 1000px;
  }
}

/* Table of contents */
.contents {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}
.contents li {
  margin: 0;
  margin-bottom: 5px;
}

/* Wrapper is a section or div containing text and an image(s) divs */
.wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #121212;
}
div, section {
  max-width: 95vw;
}
#intro {
  display: flex;
  flex-direction: column-reverse;
}
#apple-timeline-1 {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  #intro {
    flex-direction: row;
  }
}
@media screen and (min-width: 850px) {
  .wrapper, #apple-timeline-1 {
    flex-direction: row;
  }
}

/* Fonts */
h2, h3, h4 {
  margin-top: 5px;
}
h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 10vw;
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  h1 {
    font-size: 48px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1100px) {
  h1 {
    font-size: 5vw;
  }
}
@media screen and (min-width: 1100px) {
  h1 {
    font-size: 55px;
  }
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
p, li, td {
  font-size: 20px;
  margin-bottom: 15px;
}
dt, dd, #sources li {
  font-size: 16px;
}
dd {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}


ul {
  list-style-type: none;
}
ol {
  margin-left: 20px;
}
ul li{
  padding-left: 15px;
}
#sources {
  padding-left: 5px;
}

/* Image div styles */
.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 250px;
  max-height: 360px;
}  
.image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  padding: 30px 30px 10px 30px;
  margin: 20px;
}
@media screen and (min-width: 750px) {
  .image {
    float: right;
  }
}
.image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.10); /* White with 10% opacity */
  pointer-events: none;
}
/* Mobile */
.image::before, img {
  border-radius: 5px;
}
/* PC */
@media screen and (min-width: 1280px) {
  .image::before, img {
    border-radius: 10px;
  }
}
figcaption {
  text-align: center;
  margin: 10px 0;
  max-width: 250px;
  font-size: 18px
}

/* Table styles */
td {
  padding-right: 10px;
}
/* Only center numbers */
.no {
  text-align: center;
}

.version {
  font-style: italic;
}
