/* General Styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
header {
  background-color: #222222;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

header h1 {
  font-size: 40px;
  margin: 0;
}

/* Camera Image */
#camera-div {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#camera {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Work Section */
.work-section {
  background-color: #222222;
  padding: 20px;
  margin: 20px 0;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.work-section h2 {
  text-align: center;
  font-size: 36px;
  margin: 15px;
}

.carousel {
  text-align: center;
  margin: 0;
}

#carousel-img {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
}

figcaption {
  font-size: 1.1em;
}

.button {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #323232;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #424242;
}

button:active {
  background: #525252;
}

/* Contact Section */
.contact {
  background-color: #222222;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  font-size: 32px;
  margin: 0;
  margin-top: 10px;
}

.contact p {
  line-height: 1.6;
  margin: 5px 0;
}

.contact a {
  color: #0066cc;
}

.contact a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #222222;
  color: white;
  padding: 20px;
  text-align: center;
}

footer h2 {
  margin-top: 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin: 10px 0;
}

footer a {
  color: #ffcc00;
}

footer a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  #camera {
    width: 100%;
  }

  .camera-div, .work-section, .contact {
    margin: 10px;
  }

  .work-section, .contact {
    padding: 10px;
  }

  button {
    width: 100px;
    height: 50px;
    font-size: 18px;
    padding: 8px 16px;
    margin: 5px;
  }
}
