/* We need this to make sure the up/down increment/decrement buttons are hidden on inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

body {
  background: #121212;
}

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
}

input {
  color: black;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

label {
  text-align: center;
  font-size: 24px;
}

input {
  width: 320px;
  font-size: 18px;
}

#array-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}