/* Reset and general styles */  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-weight: 300;
  background-color: #121212;
  color: white;
}

/* Layout styles */
main {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

body, .page, .form-inputs, .reviews, .img-and-contact, .image {
  display: flex;
  flex-direction: column;
}

.buttons, .content, .email-label, form {
  display: flex;
  flex-direction: row;
}

div {
  margin: 10px;
}

ul {
  padding-left: 30px;
}

p {
  margin-bottom: 15px;
}

.image p {
  width: 95%;
}


/* Header styles */
h1, form, .headline {
  background-color: #222222;
  color: white;
  margin: 0;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 72px;
  height: 100px;
  font-weight: 300;
  line-height: 1.5;
}

/* Form styles */
form {
  justify-content: center;
  /* Fix for Safari input submit buttons */
  /* https://stackoverflow.com/questions/42520214/input-button-rendering-inconsistency-in-safari */
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.email-label {
  justify-content: center;
}

.form-inputs {
  justify-content: center;
  align-items: center;
}

#email {
  height: 50px;
  width: 80%;
  font-size: 36px;
}

.buttons {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button, .button {
  min-height: 90px;
  width: 12vw;
  min-width: 150px;
  margin: 20px 30px 20px 30px;
  font-size: 36px;
  border: none;
  background-color: #323232;
  color: white;
  cursor: pointer;
  box-shadow: 0px 10px 5px 0px black;
  font-weight: 300;
  vertical-align: middle;
}

button:hover, .button:hover {
  background-color: #424242;
}

button:active, .button:active {
  background-color: #525252;
  position: relative;
  top: 10px;
  box-shadow: none;

}

/* Content styles */
.contact {
  width: 100%;
  margin: 0;
}

.reviews {
  width: 100%;
}

.img-and-contact {
  justify-content: center;
  align-items: center;
}

.image {
  background: #222222;
  align-items: center;
}

/* Footer styles */
footer p {
  font-size: 24px;
  text-align: center;
}

/* Font styles */
h2, label {
  font-size: 48px;
  font-weight: 400;
}

li, p {
  font-size: 36px;
}

/* Colours */
.page {
  background-color: #323232;
  color: white;
}

/* Images */
#coding-1 {
  width: 100%;
  height: 1080px;
}

#coding-2 {
  margin-top: 30px;
  width: 100%;
  height: 450px;
}

#coding-1, #coding-2, #stars {
  max-width: 100%;
  height: auto;
}

/* Responsive styles */
@media screen and (max-width: 1520px) {
  main {
    flex-direction: column;
  }
}

@media screen and (max-width: 1140px) {
  h1 {
    font-size: 48px;
    font-weight: 400;
  }
  h2, label {
    font-size: 36px;
  }
  li, p, #email {
    font-size: 36px;
  }
  footer p {
    font-size: 18px;
  }
}
@media screen and (max-width: 675px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  li, p, #email {
    font-size: 24px;
  }
  footer p {
    font-size: 16px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .content {
    flex-direction: column;
  }
}
