* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
}

.page {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
}