* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

div {
  margin: 10px;
}

h1 {
  text-align: center;
  font-size: 72px;
}

.page {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
}

.email, .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 48px;
}

#email {
  margin-left: 30px;
  height: 50px;
  width: 600px;
  font-size: 36px;
}

.button {
  height: 50px;
  width: 200px;
  margin-left: 30px;
  margin-top: 20px;
}
