* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Positioning */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  margin-top: -15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.gallery-main, .about-main {
  display: flex;
  flex-direction: column;
}
.about-main {
  align-items: stretch;
}
.gallery-main {
  margin-top: 5vh;
}
/* Table cell spacing */
@media screen and (min-height: 1440px) {
  td {
    padding: 5px 10px;
  }
}
@media screen and (max-height: 1439px) {
  td {
    padding: 0px 5px;
  }
}

/**/
.menu-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-list li {
  display: inline; /* Ensures the list items are displayed inline */
}
.nav-list a {
  padding: 0 10px; /* Adjust padding as needed */
}

/* Button styles */
.buttons {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buttons button {
  margin: 20px;
  width: 300px;
  height: 100px;
}

/* Background images */ 
/* How to blur background image only */
.index-body::after {
  content: "";
  background-image: url('images/restaurant.jpg');
  background-size: cover;
  filter: blur(1px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Font Sizes */
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
button, .submit {
  font-size: 35px;
}
label, select, input {
  font-size: 25px;
}
nav {
  font-size: 25px;
}
p, tr, td {
  font-size: 20px;
}

/* Colours & Decoration */
h1, nav a {
  color: black;
}
.nav-list li a {
  color: black;
}
footer p {
  color: white;
}
a {
  text-decoration: none;
}
body:not(.header-body) {
  background-color: rgb(75, 75, 75);
  color: white;
}
iframe {
  border: none;
}

/* Header */
header {
  background-color: #b9e1ff;
}
h1 {
  text-align: center;
  padding: 10px;
}
nav {
  text-align: center;
  margin-bottom: 50px;
}
nav a {
  padding: 50px;
  text-decoration: none;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 35%;
  margin-right: 35%;
  list-style-type: none;
}

/* Form */
.book-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.message-form {
  display: flex;
  flex-direction: column;
}
.inputs {
  display: flex;
  flex-direction: row;
}
.inputs div {
  margin: 10px;
}
.name-and-email {
  display: flex;
  flex-direction: column;
}
.message {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  margin-top: 20px;
  margin-bottom: 20px;
}
.book-form {
  max-width: 750px;
  margin: 20px;
  padding: 35px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.book-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.book-form label,
.book-form select,
.book-form input[type=datetime-local],
.book-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.book-form label {
  margin-bottom: 5px;
  color: #333;
}
.book-form select,
.book-form input[type=datetime-local] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
#book {
  width: 250px;
  height: 100px;
}
label {
  text-align: center;
}

/* Margins */
@media screen and (min-width: 2560px) {
  p, h2 {
    margin-left: 0.8vw;
    margin-right: 0.8vw;
  }
  p {
    margin-bottom: 0.4vh;
  }
  h2 {
    margin-bottom: 0.7vh;
  }
  section {
    margin-bottom: 1.4vh;
  }  
}
@media screen and (max-width: 2559px) {
  p, h2, section {
    margin: 0px;
  }
}

/* Buttons */
button {
  width: 20vw;
  height: 15vh;
  border-radius: 5px;
  border: none;
  background-color: #80c8ff;
  color: white;
  box-shadow: 0px 10px 10px black;	
}
button:hover {
  background-color: #5399ce;
  cursor: pointer;
}
button:active {
  background-color: #2e6996;
  position: relative;
  top: 10px;
  box-shadow: none;
}
.submit {
  width: 25vw;
  height: 20vh;
  margin: auto;
  margin-top: 30px;
}

img {
  object-fit: cover;
}
.menu-image {
  width: 10vw;
  height: 20vh;
}

/* Carousel */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel img {
  width: 150px;
  height: 200px;
  margin: 0 10px;
  filter: blur(2px);
  object-fit: cover;
}
.carousel img.active {
  filter: none;
  width: 300px;
  height: 400px;
}

/* Widths */
section {
  max-width: 1280px;
}
.about-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-body {
  margin: auto;
   width: 100%;
}

/* Menu text sizes */
.menu-main h2 {
  font-size: 3vh;
}
.menu-main td {
  font-size: 2vh;
}
figcaption {
  font-size: 1.75vh;
}

.menu-main {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 1vh;
}
