* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Flex display */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-container {
  display: flex;
  flex-direction: row;
  min-height: 75vh;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information {
  display: flex;
  flex-direction: row;
}
.ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Widths */
.description, .ticket {
  min-width: 750px;
  min-height: 375px;
}
.story {
  max-width: 60%;
}

/* Margins */
.date, .location {
  margin: 10px;
}
body {
  margin: 20px;
}
p {
  margin: 10px;
}

/* Font sizes */
h1 {
  font-size: 4.7vh; /* 50px on 1080p */
  text-align: center;
}
h2 {
  font-size: 3.7vh; /* 40px on 1080p */
}
.spacetime {
  font-size: 3.3vh; /* 36px on 1080p */
}
.tickets-from, button {
  font-size: 2.8vh; /* 30px on 1080p */
}
.price {
  font-size: 6.7vh; /* 72px on 1080p */
}
p {
  font-size: 2.2vh; /* 24px on 1080p */
}
