* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Flex display */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-container {
  display: flex;
  flex-direction: row;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information {
  display: flex;
  flex-direction: row;
}
.ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Widths */
.description, .ticket {
  min-width: 750px;
  min-height: 375px;
}
.story {
  max-width: 60%;
}

/* Margins */
.date, .location {
  margin: 10px;
}
body {
  margin: 20px;
}
p {
  margin: 10px;
}

/* Font sizes */
h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  font-size: 40px;
}
.spacetime {
  font-size: 36px;
}
.tickets-from, button {
  font-size: 30px;
}
.price {
  font-size: 72px;
}
p {
  font-size: 1.25vw;
}
