* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Flex display */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information {
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 90%;
}
.date, .location {
  display: flex;
  align-items: center;
}
.spacetime {
  text-align: left;
}
.ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 20px;
}
@media screen and (min-height: 625px) {
  .event-container {
    min-height: 75vh;
    align-items: center;
  }
}
@media screen and (max-height: 625px) {
  .event-container {
    height: 100vh;
  }
}
@media screen and (max-width: 1279px) {
  .event-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1279px) {
  .description, .information {
    flex-direction: column;
  }
}
@media screen and (max-width: 1279px) {
  .ticket {
    padding-left: 0;
  }
}

/* Widths & Heights */
@media screen and (max-width: 500px) {
  .description, .ticket {
    width: 80%;
  }
}
@media screen and (orientation: landscape) {
  .description, .ticket {
    min-width: 15vw;
  }
}
@media screen and (orientation: portrait) {
  .description, .ticket {
    min-width: 40vw;
  }
}
@media screen and (max-height: 574px) {
  .description, .ticket {
    min-height: 40vh;
  }
}
@media screen and (min-height: 575px) and (max-height: 949px) {
  .description, .ticket {
    min-height: 40vh;
  }
}
@media screen and (min-height: 950px) and (orientation: landscape) {
  .description, .ticket {
    min-height: 45vh;
  }
}
@media screen and (min-height: 950px) and (orientation: portrait) {
  .description, .ticket {
    min-height: 30vh;
  }
}
.story {
  max-width: 60%;
}
@media screen and (max-width: 1279px) {
  .story {
    max-width: 100%;
  }
}

/* Margins */
.date, .location {
  margin: 10px;
}
body {
  margin: 20px;
}
p {
  margin: 10px;
}

/* Font sizes */
h1, h2, footer {
  text-align: center;
}
.price {
  font-size: 6.7vh; /* 72px on 1080p */
}

@media screen and (orientation: landscape) and (min-height: 800px) {
  h1 {
    font-size: 4.7vh; /* 50px on 1080p */
  }
  h2 {
    font-size: 3.7vh; /* 40px on 1080p */
  }
  .spacetime {
    font-size: 3.3vh; /* 36px on 1080p */
  }
  .tickets-from, button {
    font-size: 2.8vh; /* 30px on 1080p */
  }
  p {
    font-size: 2.5vh; /* 24px on 1080p */
  }
  footer p {
    font-size: 1.7vh; /* 18px on 1080p */
  }  
}
@media screen and (orientation: landscape) and (max-height: 799px) {
  h1 {
    font-size: 37px; /* 50px on 1080p */
  }
  h2 {
    font-size: 29px; /* 40px on 1080p */
  }
  .spacetime {
    font-size: 26px; /* 36px on 1080p */
  }
  .tickets-from, button {
    font-size: 22px; /* 30px on 1080p */
  }
  p {
    font-size: 20px; /* 24px on 1080p */
  }
  footer p {
    font-size: 13px; /* 18px on 1080p */
  }  
}
@media screen and (orientation: portrait) {
  h1 {
    font-size: 9.4vw;
  }
  h2 {
    font-size: 5.6vw;
  }
  .spacetime {
    font-size: 5.1vw;
  }
  .tickets-from, button {
    font-size: 5.6vw;
  }
  p {
    font-size: 4.4vw;
  }
  footer p {
    font-size: 3.4vw;
  }
  span {
    text-align: center;
  }
}

/* Icons */
.icon {
  height: 4vh;
  width: 4vh;
  margin: 10px;
  animation-fill-mode: forwards;
  filter: invert(1);
}
@media screen and (max-height: 625px) {
  .spacetime {
    height: 7vh;
  }
}

/* <br> */
@media screen and (min-width: 1280px) {
  br {
    display: none;
  }
}

/* Button styles */
button {
  padding: 20px;
  border: none;
  background-color: #739BD0;
  color: white;
  border-radius: 10px;
  transition-duration: 0.2s;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
button:hover {
  /* From https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_shadow */
  box-shadow: 0 12px 16px 0 rgba(64, 64, 64, 0.24),0 17px 50px 0 rgba(64, 64, 64, 0.19);
  background-color: #8ab1e4;
  cursor: pointer;
}
button:active {
  box-shadow: 0 18px 24px 0 rgba(64, 64, 64, 0.24),0 17px 50px 0 rgba(64, 64, 64, 0.19);
  background-color: #b2d4ff;
}

/* Div styles */
body {
  background: #121212;
}

.ticket {
  background: #121212;
  border-radius: 10px;
}
.ticket::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.07); /* White with 7% opacity */
  pointer-events: none;
}
.tickets-from, .price {
  color: white;
}

.event-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* Blurring background image of a div */
.event-container::after {
  content: "";
  background-image: url('images/coding.jpg');
  background-size: cover;
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1, h2, .spacetime, footer p, p, a {
  color: white;
}